{% extends 'main.html' %}

{%  load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col-8 mt-3 mx-auto">

    <h3>Excluir</h3>

    <p class="load">
        Confirme para excluir os dados.
    </p>

    <hr>

    <form class="row g-3" action="" method="post">
        <p>Deseja excluir o registro: <b>{{object}}</b> </p>
        {% csrf_token %}
        <label class="form-label">
            
            {{ form|crispy }}

        </label>
        <div>
            <button type="submit" class="btn btn-danger">Excluir</button>
        </div>
    </form>
</div>
{% endblock %}