{% extends 'main.html' %}
{%  load static %}
{% block content %}
<div style="width: 80%" class="mx-auto mt-3 table-responsive">
    <table class="table table-striped border">
        <thead>
            <tr>
                <th scope="col">Profissional</th>
                <th scope="col">Contato</th>
                <th scope="col">Agenda</th>
            </tr>
        </thead>
        <tbody>
            {% for dbs in object_list %}
            <tr>
                <td>{{ dbs.nome }}</td>
                <td>{{ dbs.telefone }}</td>
                <td> <a class="btn btn-dark" href="//{{ dbs.agenda }}">Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
