{% extends 'main.html' %}
{%  load static %}
{% block content %}
<div style="width: 80%" class="mx-auto mt-3 table-responsive">
    {% if user.is_authenticated %}
    <a href="{% url 'agendamento-criar'%}" class="btn btn-primary">Adicionar</a>
    <br><br>
    {% endif %}
    <table class="table table-striped border">
        <thead>
            <tr>
                <th scope="col">Profissional</th>
                <th scope="col">Contato</th>
                <th scope="col">Agenda</th>
                {% if user.is_authenticated %}
                <th scope="col">Açoes</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for profissional in object_list %}
            <tr>
                <td>{{ profissional.nome }}</td>
                <td>{{ profissional.telefone }}</td>
                <td> <a class="btn btn-dark" href="{{ profissional.agenda }}">Link</a></td>
                {% if user.is_authenticated %}
                <td>
                    <a href="{% url 'agendamento-editar' profissional.pk %}" class="btn btn-warning btn-sm" title="Editar"><i class="material-icons">create</i></a>
                    <a href="{% url 'agendamento-excluir' profissional.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="material-icons">delete</i></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
