{% extends 'main.html' %}
{%  load static %}
{% block content %}
<div style="width: 80%" class="mx-auto mt-3 table-responsive">
    <table class="table table-striped border">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Serviços</th>
                <th scope="col">Valores</th>
            </tr>
        </thead>
        <tbody>
            {% for dbs in object_list %}
            <tr>
                <td></td>
                <td>{{ dbs.servico }}</td>
                <td>R$ {{ dbs.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}